# Unless a later match takes precedence,
# @eqtpartners/sre will be requested for
# review when someone opens a pull request for those production directories.
*                @eqtpartners/sre @SunburstBot
